
<table
  class="w-full"
  *ngIf="dataSource.data.length > 0 else empty"
  mat-table [dataSource]="dataSource"
  matSort>

  <ng-container *ngFor="let column of columns" [matColumnDef]="column.key">
    <ng-container *ngIf="column.sortable else notSortable">
      <ng-container [ngTemplateOutlet]="sortable"></ng-container>
    </ng-container>
    <ng-template #sortable>
      <th *matHeaderCellDef mat-header-cell [style.text-align]="'center'"
          [mat-sort-header]="column.key">
          {{ column.name }}
        </th>
    </ng-template>
    <ng-template #notSortable>
      <th *matHeaderCellDef mat-header-cell [style.text-align]="'center'">
          {{ column.name }}
        </th>
    </ng-template>

    <th
      mat-cell
      *matCellDef="let data"
      [attr.data-label]="column.name"
      [style.text-align]="'center'"
    >
      <ng-container [ngTemplateOutlet]="cell" [ngTemplateOutletContext]="{ $implicit: data, column: column }"></ng-container>
    </th>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnKeys"></tr>
  <tr mat-row *matRowDef="let row; columns: columnKeys"></tr>
</table>
<mat-paginator
  *ngIf="pagination"
  [length]="pagination.length"
  [pageIndex]="pagination.index"
  [pageSize]="pagination.size"
  [pageSizeOptions]="pagination.sizeOptions"
  (page)="page.emit()"
></mat-paginator>


<ng-template #empty>
  <blockquote>
    Nenhum registro encontrado
  </blockquote>
</ng-template>

<ng-template #cell let-data let-column="column">
  <ng-container [ngSwitch]="column.type">
    <ng-container
      *ngSwitchCase="'date'"
      [ngTemplateOutlet]="dateCell"
      [ngTemplateOutletContext]="{ $implicit: data, column: column }"
    ></ng-container>
    <ng-container
      *ngSwitchCase="'timestamp'"
      [ngTemplateOutlet]="timestampCell"
      [ngTemplateOutletContext]="{ $implicit: data, column: column }"
    ></ng-container>
    <ng-container
      *ngSwitchCase="'interactive'"
      [ngTemplateOutlet]="interactiveCell"
      [ngTemplateOutletContext]="{ $implicit: data, column: column }"
    ></ng-container>
    <ng-container
      *ngSwitchDefault
      [ngTemplateOutlet]="defaultCell"
      [ngTemplateOutletContext]="{ $implicit: data, column: column }"
    ></ng-container>
  </ng-container>
</ng-template>

<ng-template #defaultCell let-data let-column="column">
  {{ data | columnValue: column }}
</ng-template>

<ng-template #dateCell let-data let-column="column">
  {{ data | columnValue: column | date: 'dd/MM/yyyy' }}
</ng-template>

<ng-template #timestampCell let-data let-column="column">
  {{ data | columnValue: column | date: 'dd/MM/yyyy HH:mm:ss.SSS':'GMT' }}
</ng-template>

<ng-template #timeCell let-data let-column="column">
  {{ data | columnValue: column | duration }}
</ng-template>

<ng-template #interactiveCell let-data let-column="column">
  <ng-container *ngFor="let interaction of column.interactions">
    <ng-container [ngSwitch]="interaction">
      <a *ngSwitchCase="'view'" mat-icon-button color="primary" aria-label="Detalhes" matTooltip="Detalhes" [routerLink]="viewRoute(column, data.id)">
        <mat-icon class="mat-18">preview</mat-icon>
      </a>
      <a *ngSwitchCase="'edit'" mat-icon-button color="primary" aria-label="Editar" matTooltip="Editar" [routerLink]="editRoute(column, data.id)">
        <mat-icon class="mat-18">
          edit_note
        </mat-icon>
      </a>
      <button *ngSwitchCase="'delete'" mat-icon-button color="primary" aria-label="Excluir" matTooltip="Excluir" [routerLink]="editRoute(column, data.id)">
        <mat-icon class="mat-18">
          edit_note
        </mat-icon>
      </button>
    </ng-container>

  </ng-container>
</ng-template>
